.game-list .center { text-align: center; }

.game-list .game-list-entry.sold { opacity: .6; background-color: #ecff938f!important; }
.game-list .game-list-entry .extra .spacer { margin-left: 4px; margin-right: 4px; }

.ui.container.game-list div.game-list-entry .content .header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1em;
}

.game-list .game-list-entry .extra { text-align: center; }
.game-list .game-list-entry .extra .case { font-weight: bold; color: #000; }
.game-list .game-list-entry .extra .location { color: #2aab40; cursor: pointer; }
.game-list .game-list-entry .extra .location.sold { color: #ab392a; cursor: not-allowed; }

.game-list .game-list-entry .extra .order-info i {
  float: right;
}

.filter-menu .item  .button.clear {
  margin-left: 4px !important;
}

.order-toggle span {
  width: 150px;
  display: inline-block;
}

.item-count-selector {
  width: 80px;
}

.game-list-entry .game-price {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #00ff1f;
  background-color: rgb(0 0 0 / 61%);
  padding: 3px;
  border-radius: 3px;
}

.modal-trigger { cursor: pointer; }
.top-spacing { margin-top: 12px; }
.bottom-spacing { margin-bottom: 12px; }

.receipt-selector-row { display: flex; margin-bottom: 4px; }
.receipt-selector-row span.date { width: 90px; color: #ff4983; }
.receipt-selector-row span.store { width: 90px; color: #ab392a; }
.receipt-selector-row span.name { width: 90px; color: #3197ff; }
.receipt-selector-row span.number { flex: auto; }
.receipt-selector-row button { width: 80px; }
.game-list-title { display: flex; margin-bottom: 12px; }
.game-list-title h3 { flex: auto; }
.pad-left { margin-left: 12px; }