.game-list .game-list-entry.sold {
  opacity: .7;
}

.game-list .game-list-entry .extra .spacer {
  margin-left: 4px;
  margin-right: 4px;
}

.game-list .game-list-entry .extra .case {
  font-weight: bold;
  color: #000;
}

.game-list .center { text-align: center; }

.game-list .game-list-entry .extra .location { color: #2aab40; }
.game-list .game-list-entry .extra .location.sold { color: #ab392a; }

.game-list .game-list-entry .extra .order-info i {
  float: right;
}

.filter-menu .item  .button.clear {
  margin-left: 4px !important;
}